.final-page {
  background-color: black; /* Set the black background */
  color: white; /* Text color on black background */
}

.center-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px; /* Set the desired image height */
  margin-top: 20%;
}

.image-size {
  width: 150px; /* Set the desired image width */
  height: auto;
}

h3 {
  margin-top: 10%;
}

.h4-final {
  padding: 70px;
}

.left-section-final {
  text-align: center;
  padding: 70px;
  padding-right: 200px;
}
