body {
  background-size: cover;
  margin: 0%;
  height: 100vh;
  width: 100%;
}

.container {
  height: 100vh;
  display: grid;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "main-content"
    "footer";
  background-image: url(./images/blank.png);
  background-size: cover;
  margin: 0%;
  width: 100%;
}

.header {
  grid-area: header;
  background-color: rgba(207, 34, 176, 0.283);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 0;
  margin: 0;
}

/* .main-content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} */

.button {
  grid-area: button;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 62px;
  padding: 38px;
  text-align: center;
  color: #cb6ce6;
  margin: auto;
  justify-content: center;
}

.footer {
  grid-area: footer;
  grid-area: button;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 62px;
  padding: 38px;
  text-align: center;
  color: #cb6ce6;
  margin: auto;
  justify-content: center;
}
